body {
    font-family: 'Bricolage Grotesque', sans-serif;
}

.hero-card {
    min-height: 25vh;
}

.boss-card {
    min-height: 40vh;
}

.boss-img {
    object-position: center;
    object-fit: cover;
    width: 100%;
}

.data-card {
    min-height: 20vh;
}